body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: #fff;
    background-image: url(media/background.jpg);
    background-size: cover;
    background-attachment:fixed;
    display: flex;
}
/*----------------------------------------------presentation-------------------------------------------------------------*/
/* Navigation */
nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: #1abc9c;
    z-index: 200;
  }
  nav ul {
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    z-index: 200;
  }
  nav ul li {
    display: inline-block;
    margin: 0 10px;
    z-index: 200;
  }
  nav ul li a {
    padding: 10px 0;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  nav ul li a:hover {
    color: #34495e;
  }
  a.active {
    border-bottom: 2px solid #ecf0f1;
  }
  
.entete{
    height: 380px;
}
article{
    width: 100%;
    }
.h1-cv{
    height: 196px;
    font-size: 90px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    text-align: center;
    line-height: 3;
    letter-spacing: -2px;
}
.qui{
    background-color: white;
}
.pres{
    background-color: white;
    text-align: justify;
    width: 700px;
}
.presentation{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    height: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: justify;
    }
    .qui{/*qui je suis*/
    font-size: 35px;
    text-align: left;
    font-weight: 500;
    color: #29a9e0;
    letter-spacing: -3px;
    line-height: 1;
    }
/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------competences---------------------------------------------------------*/
.h2dev{
    font-size: 90px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    text-align: center;
    line-height: 1;
    letter-spacing: -2px;
}
.comp, .exp, .por, .inte{/*grand titres*/
    font-size: 90px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    text-align: center;
    line-height: 1;
    letter-spacing: -2px;
    margin-top: 40px;
}
.HTML-ICONE,.css-icone,.javascript-icone,.php,.wordpress-icone,.mysql-icone,.gitlab-icone,.scrum-icone{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.competences{
    height:680px;
}
.icones-comp{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}
.exp-titre, .t-int{
    display:block;
    height: 170px;
    margin-top: 40px;
}
.compe-titre{
    display:block;
    height: 170px;
    margin-top: 55px; 
}
.t-porte{
    display:block;
    height: 170px;   
}
.quatre-comp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.qua-comp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 28px; */
}
.ag, .git, .mys, .wp, .ph, .js, .cs, .ht{/*titre des competence*/
    font-size: 25px;
    font-weight: 500;
    color: #29a9e0;   
}
/*------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------experience--------------------------------------------------------*/
.porte-fulio{
    height: 680px;
}
.mes-projets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    height: 480px;
    justify-content: space-around;
    background-color: white;
   
}
.titre-prjt{
    font-size: 25px;
    font-weight: 500;
    color: #29a9e0;
    text-align: justify;
}
.site-google,.jeux, .todo-list{
    text-align: center;
    border: 1px solid #000;
    margin-top: 5px;
}
.todo-list{
     background-image:url(media/todo.png); 
    background-size: cover;
}
.jeux-v{
     background-image:url(media/jeux.png); 
    background-size: cover;
}
.site{
     background-image: url(media/googlerepro.png); 
    background-size: cover;
}
.puissance{
     background-image:url(media/puissance4.png); 
    background-size: cover;
}
.playlist{
    background-image:url(media/playList.png); 
    background-size: cover;
}


.jeux{
    display: flex;
    width:380px;
    height: 230px;
}
.todo-list{
    display: flex;
    width:380px;
    height: 230px;
}
.site-google{
    display: flex;
    width:380px;
    height: 230px;
}
.interets{
    height: 480px;
}
.int{/*interet*/
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    height: 310px;
}
.contact-i{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}
.date0, .date1, .date2 {
    height: 475px;
    width: 250px;
    transition: margin 0.3s ease-out;
}
 .date0:hover, .date1:hover, .date2:hover{
    cursor:pointer;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);/*lien pdf tel et mail*/
}
.email:hover, .pdf-cv:hover, .tel:hover{
    transform: scale(1.2);
}
/*----------------------------------------------formulaire--------------------------------------------------------------*/
.footer-from-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact{
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
#submit_button{
    width: 109px;
	height: 34px;
	border-radius: 8%;
	background-color:#79BD9A ;
	font-weight: bold;
	color: #fff;
}
.votre-{
    font-weight: bold;
    color: #29a9e0;
}
input, textarea{
    width:388px;
	border-radius: 3px;
	background-color: rgba(255,255,255,.6);
	border: solid 1px #b6c7cb;
}
textarea{
    height: 130px;
}
input{
    height: 30px;
}
.contact-i, .form{
    height:250px;
    width:390px;
}
/*------------------------------------------------------------------------------------------------------------*/
.email, .pdf-cv, .tel{
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    text-align: justify;
    border:1px solid white ;
    background-color: #79BD9A;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 60px;
    width: 200px;
    border-radius:8%;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
.cont{/*contact titre*/
    font-size: 35px;
    text-align: left;
    font-weight: 500;
    color: #29a9e0;
    letter-spacing: -3px;
}
.tech, .cui, .cin, .google, .todo, .kaeru{/*titre des interet et porte folio*/
    font-size: 30px;
    font-weight: 500;
    color: #29a9e0;
}
h1{
    font-size: 30px;
    font-weight: 500;
    color: #29a9e0;
}
h2{
    font-size: 25px;
    font-weight: 500;
    color: #29a9e0;
    text-align: justify;
}
.hover {
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: ease-out;/*animation des hover sur competence et ciema ..*/
}
.hover:hover{
    transform: scale(1.1);
    opacity: 0.5;
	transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-in;/*animation des hover sur competence et ciema ..*/
}
a {
    color:white;
    text-decoration-line: none;/*lien vers mon pdf */
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 235, 235)
}
.icones{/*icones a la fin */
    display: flex;
    justify-content:space-between;
    width: 200px;
}
.fin{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 85px;
}
/*--------------------------------------------progress bar---------------------------------*/
.progressbar {
    position: relative;
    display: block;
    width: 162px;
    height: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0px 4px 4px -4px rgba(255, 255, 255, 0.4), 0px -3px 3px -3px rgba(255, 255, 255, 0.25), inset 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  }

.bar {
    
    position: absolute;
    display: block;
    width: 0px;
    height: 16px;
    top: 1px;
    left: 2px;
    background: #7eea19;
    background: linear-gradient(to bottom, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7eea19', endColorstr='#53ad00',GradientType=0);
    border-radius: 16px;
    box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
    overflow: hidden;
  }
.bar.color2 {
    background: #e5c319;
    background: linear-gradient(to bottom, rgba(229, 195, 25, 1) 0%, rgba(168, 140, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5c319', endColorstr='#a88c00',GradientType=0);
    box-shadow: 0px 0px 12px 0px rgba(229, 195, 25, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  }
.bar.color3 {
    background: #e81957;
    background: linear-gradient(to bottom, rgba(232, 25, 87, 1) 0%, rgba(170, 0, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e81957', endColorstr='#aa0033',GradientType=0);
    box-shadow: 0px 0px 12px 0px rgba(232, 25, 87, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  }
.bar.color4 {
    background: #186de2;
    background: linear-gradient(to bottom, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#186de2', endColorstr='#0045a5',GradientType=0);
    box-shadow: 0px 0px 12px 0px rgba(24, 109, 226, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  }

.bar span {
    position: absolute;
    display: block;
    width: 30%;
    height: 64px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    top: 0;
    animation: sparkle 1500ms linear infinite;
    opacity: 0.2;
  }
.label {
    font-family: 'Aldrich', sans-serif;
    position: absolute;
    display: block;
    width: 15px;
    height: 30px;
    line-height: 30px;
    top: 26px;
    background: #4c4c4c;
    background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%, rgba(38, 38, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#262626',GradientType=0);
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 0px -1px 0px #000, 0px 1px 1px #000;
    filter: dropshadow(color=#000000, offx=0, offy=-1);
  }
.label span {
    position: absolute;
    display: block;
    width: 12px;
    height: 9px;
    top: -9px;
    left: 14px;
    background: transparent;
    overflow: hidden;
  }
.label span:before {
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    top: 4px;
    left: 2px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #565656;
    background: linear-gradient(135deg, rgba(86, 86, 86, 1) 0%, rgba(76, 76, 76, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565656', endColorstr='#4c4c4c',GradientType=1);
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
@-webkit-keyframes sparkle {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -64px;
    }
  }

@media(max-width: 360px){
html{
    display: flex;
    }
.tuile{
    width: 260px;
    height: 170px
    }
.mes-projets{
    height: 510px;
    }
.pres{
    width: 535;
    }
.globale{
    width: 580px;
    height: 100%;
    }
.entete{
    height: 385px;
    }
.icones-comp{
    height: 550px;
    width: 784px;
    }
input,textarea{
    width: 300px;
    }
.progressbar {
    width: 80px;
    }
.progressbar:before {
    width: 80px;
    }
form{
    height: 250px;
    width: 390px;
    }
#contact_form{
    margin-right: 25px;
    font-size: 20px;
    }
#droit{
    margin-top: 35px;
    }
}
@media(max-width: 412px){
.presentation{
    width: 784px;
   }
.entete {
    height: 381px;
    }
form{
    height: 250px;
    width: 390px;
    }
#contact_form{
    margin-right: 25px;
    font-size: 20px;
    }
input,textarea{
    width: 300px;
    }
#droit{
    margin-top: 35px;
    }
.tuile{
    width: 260px;
    height: 170px
    }
.mes-projets{
    height: 510px;
    }
.pres{
    width: 535;
    }
.globale{
    width: 580px;
    height: 100%;
    }
.icones-comp{
    height: 550px;
    width: 784px;
    }
}
@media(max-width: 414px){
.tuile{
    width: 260px;
    height: 170px
    }
.mes-projets{
    height: 510px;
    }
.icones-comp{
    height: 500px;
    }
#droit{
    margin-top: 35px;
    }
form{
    height: 250px;
    width: 390px;
}
#contact_form{
    margin-right: 25px;
    font-size: 20px;
}
input,textarea{
    width: 300px;
}
}
@media(max-width: 1024px){
    img #img{
        width: 260px!important;
        height: 171px!important;
    }
.tuile{
    width: 260px;
    height: 170px
    }
.mes-projets{
    height: 510px;
    }
.icones-comp{
    height: 500px;
    }
#droit{
    margin-top: 35px;
    }
form{
    height: 250px;
    width: 390px;
}
#contact_form{
    margin-right: 25px;
    font-size: 20px;
}
input,textarea{
    width: 300px;
}

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.tuile:hover{
    background-color: blue;
}

.titre{
    font-family:"Quicksand";
    text-align:center;
    list-style-type:none;  
    color:#CC0000
  }
  ul{
    list-style-type:none;
    }
    .sommaire{
      font-family:"Quicksand";
      text-align:center;  
      color:#CC0000;
      height:14em
    }
    
    a{
     text-decoration:none;
     
    }


